@font-face {
font-family: "Top_Secret";
src: url("images/Top_Secret.ttf");
/*dafont.com*/
}
body {
background-image: url("images/Camo-background.png") ;
}
#h1 {
  font-size: 60px;
  font-family: "Top_Secret",sans-serif;
  color: white;
  text-align: center;
  margin: 20px;
}
.container {
  display: flex;
  margin: auto;
  justify-content: flex-start;

}

img {
  padding: 10%;
  width: 50%;

}

h2 {
padding: 75px;
color: white;
font-size: 50px;
font-family: "arial", sans-serif;
}
a {
 text-decoration: none;
 color: white;
 background-color: #57470D;
 text-align: center;
 padding: 10px;
 margin: 50px;
 font-size: 25px;
 font-family: "arial", sans-serif;
}
