@font-face {
font-family: "Top_Secret";
src: url("images/Top_Secret.ttf");
/*dafont.com*/
}
body {
background-image: url("images/Camo-background.png") ;
}
#h1 {
  font-size: 60px;
  font-family: "Top_Secret",sans-serif;
  color: white;
  text-align: center;
}
.container {
  /*background-color: white;*/
  display: flex;
  
  margin: auto;
  justify-content: flex-start;

}
img {
  padding: 60px;
  width: 50%;

}

h2 {
padding: 75px;
color: white;
font-size: 50px;
font-family: "arial", sans-serif;
}
